h4{
    font-size: 24px; 
    font-family: 'Plus Jakarta Sans';
}

p{
    font-size:16px;
    font-family:'Plus Jakarta Sans'
}
h5{
    font-size: 18px;
}
h2{
    font-size: 40px;
    font-family: 'Plus Jakarta Sans';
}